# Eclipse metadata
.metadata/
bin/
build/
.gradle/
*.log

# env
.env

# build artifacts
*.jar
/build/
/RouteRecipt/build/

# runner / local
.actions-runner/

# allow deploy jar for CI
!RouteRecipt-0.0.1-SNAPSHOT.jar
